:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #1b212c; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

p,
h1,
h2,
h3,
h4 {
  @apply text-black dark:text-gray-200;
}

input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #4b5563;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-red-400;
  background-color: #1b212c;
}

.mult-email-input__input {
  @apply text-gray-300 shadow-none  !important;
  /* color: white !important;
  outline-color: red; */
}

.mult-email-input__control {
  @apply input input-bordered w-full text-sm shadow-none h-full p-2 !important;
}

.mult-email-input__indicator:hover {
  @apply text-white cursor-pointer !important;
}

.mult-email-input__multi-value__remove:hover {
  @apply bg-gray-600 text-white !important;
}

.fit-height {
  height: fit-content !important;
}

.paraphrase-container {
  @apply text-base;
}

.input-container {
  @apply dark:bg-[#2d3848] bg-gray-400 border border-white;
}

.sendBtn {
  @apply rounded-md float-right border border-white px-6 py-2;
}

.sendingBtn {
  @apply bg-white text-[#1B212C];
}

/* shawawt */
.expand-btn-inactive {
  @apply w-10 h-10 p-1 rounded-md border border-white cursor-pointer fixed bottom-10 right-10 z-50 hover:text-gray-400 hover:border-gray-400;
}

.expand-btn-active {
  @apply w-10 h-10 p-1 rounded-md border cursor-pointer fixed bottom-10 right-10 z-50 text-gray-400 border-gray-400;
}

.custom-btn-bg {
  @apply btn dark:bg-gray-100 bg-gray-700 dark:text-black text-gray-200 dark:hover:bg-gray-300;
}

.step-circle-active {
  @apply w-10 h-10 bg-blue-600 mx-auto rounded-full text-lg text-white flex items-center cursor-pointer delay-500;
}

.step-circle {
  @apply w-10 h-10 bg-white border-2 border-gray-200 mx-auto rounded-full text-lg text-white flex items-center cursor-pointer delay-500;
}

.step-bar-active {
  @apply bg-blue-600 text-xs leading-none py-1 text-center text-gray-300 rounded duration-500 w-full ease-linear;
}

.step-bar {
  @apply bg-blue-600 text-xs leading-none py-1 text-center text-gray-300 rounded w-[20%] delay-500 duration-500 ease-linear;
}

.socket-input {
  @apply input input-bordered w-full;
}

.socket-input-err {
  @apply input input-bordered w-full input-error;
}
