:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1B212C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.fit-height {
  height: fit-content !important;
}

.paraphrase-container {
  @apply text-base;
}

.input-container {
  @apply bg-[#2d3848] border border-white;
}

.sendBtn {
  @apply rounded-md float-right border border-white px-6 py-2;
}

.sendingBtn {
  @apply bg-white text-[#1B212C];
}


/* shawawt */
.expand-btn-inactive {
  @apply w-10 h-10 p-1 rounded-md border border-white cursor-pointer fixed bottom-10 right-10 z-50 hover:text-gray-400 hover:border-gray-400;
}

.expand-btn-active {
  @apply w-10 h-10 p-1 rounded-md border cursor-pointer fixed bottom-10 right-10 z-50 text-gray-400 border-gray-400;
}
